NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_ENABLE_QUESTION_TTS=false

LIVEKIT_URL=wss://interviewsaas-m7lvjg0t.livekit.cloud
LIVEKIT_API_KEY=API9vGKNiCmgyge
LIVEKIT_API_SECRET=VelIoRPbA04BGWXIKmGto7R8FTY7Y9F8z6df1wZBhEd